h1 {
    color: brown;
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 1px gray;
}

h2 {
    color: brown;
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 1px gray;
}

.basic {
    color: gray;
}

.normal {
    color: white;
}

.rare {
    color: blue;
}

.epic {
    color: purple;
}

.legendary {
    color: darkorange;
}

.derived {
    color: black;
}

body {
    background-color: gold;
    width: 850px;
    margin: 0 auto;
    padding: 10px 20px 30px 20px;
    border: 5px solid red;
}

p {
    width: 800px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 1px lightyellow;
}

li {
    list-style-type: none;
    width: 768px;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

img {
    display: block;
    margin: 0 auto;
}

table {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}

th {
    text-align: center;
}

.l {
    width: 30%;
    text-align: right;
}

.r {
    text-align: left;
}

a {
    color: green;
}

html {
    background: url("/static/hs/images/background.gif") no-repeat, url("/static/hs/images/bg2.jpg");
    font-family: "Microsoft YaHei UI";
}

footer {
    color: black;
    text-align: right;
}

nav {
    background-color: brown;
}
