h1 {
    color: brown;
    font-size: 40px;
    text-align: center;
}

.basic {
    color: gray;
}

.normal {
    color: white;
}

.rare {
    color: blue;
}

.epic {
    color: purple;
}

.legendary {
    color: darkorange;
}

.derived {
    color: black;
}

body {
    background: gold;
}

li, p {
    width: 1850px;
    font-family: "Microsoft Himalaya";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}
