.basic {
    color: gray;
}

.normal {
    color: white;
}

.rare {
    color: blue;
}

.epic {
    color: purple;
}

.legendary {
    color: orange;
}

.derived {
    color: black;
}

body {
    background: yellow;
}
