<!DOCTYPE html>
<html lang="zh-CN">
<head>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'hs/style.css' %}">

    <meta charset="UTF-8">
    <title>炉石传说卡牌查询</title>
</head>
<body>
<header>
    <h1>炉石传说卡牌查询</h1>
    <nav>
        <form method="get" action="search/">
            <input type="search" name="card_name_part" placeholder="查找卡牌">
            <input type="submit" value="搜索">
        </form>
    </nav>
    <a href="https://hs.blizzard.cn/home" title="炉石官网"><img src="{% static 'hs/images/logo.png' %}" alt="炉石logo"></a>
</header>
<main>
    <hr/>
    <h2><a href="/hs/Minion/">随从</a></h2>
    <ul>
        {% for card in all_minions %}
            <li><a class="{{ card.real_rarity_name }}"
                   href="/hs/Minion/{{ card.id }}/">{{ card.name }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
    <h2><a href="/hs/Magic/">法术</a></h2>
    <ul>
        {% for card in all_magics %}
            <li><a class="{{ card.real_rarity_name }}"
                   href="/hs/Magic/{{ card.id }}/">{{ card.name }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
    <h2><a href="/hs/Weapon/">武器</a></h2>
    <ul>
        {% for card in all_weapons %}
            <li><a class="{{ card.real_rarity_name }}"
                   href="/hs/Weapon/{{ card.id }}/">{{ card.name }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
    <h2><a href="/hs/Hero/">英雄</a></h2>
    <ul>
        {% for card in all_heroes %}
            <li><a class="{{ card.real_rarity_name }}"
                   href="/hs/Hero/{{ card.id }}/">{{ card.name }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
    <h2><a href="/hs/Skill/">英雄技能</a></h2>
    <ul>
        {% for card in all_skills %}
            <li><a class="{{ card.real_rarity_name }}"
                   href="/hs/Skill/{{ card.id }}/">{{ card.name }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
</main>
<footer>
    <p>
    <pre><strong>暴雪娱乐<em>《炉石传说》</em>  Blizzard Entertainment <em>Hearthstone</em></strong>
    <em>lalala222制作</em>
    更多信息详见<a href="https://hs.blizzard.cn/cards/" title="官方卡牌查询器">官方资源</a></pre>
    </p>
</footer>
</body>
</html>
