<!DOCTYPE html>
<html lang="ch">
<head>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'hs/style.css' %}">

    <meta charset="UTF-8">
    <title>炉石传说卡牌查询</title>
</head>
<body>
<h1>炉石传说卡牌查询</h1>
<img src="{% static 'hs/images/background.gif' %}">
<ul>
    {% for card in all_cards %}
        <li><a class="{{ card.real_rarity_name }}"
               href="/hs/{{ card.real_type_name }}/{{ card.id }}/">{{ card.name }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
